.am{
    background-color: #649CF0;
    border-radius: 5px;
    width: 35px;
    margin-bottom: 150px;
    margin-top: 25px;
}
.date{
    position:relative;
    float:left;
    width: 75px;
}
.exper{
    position:relative;
    float: right;
    margin-right: 100px;

}
.entre{
    color: #537FC1;
    margin-top: 50px;
}
.am2{
    background-color: #649CF0;
    border-radius: 5px;
    width: 45px;
    margin-bottom: 150px;
}


.container {
    width: 210mm;
    height: 297mm;
}

.nom{
    margin-left: 2px;
    margin-top: 15px;
}
.bleumarine{
    background-color: #3A6CB8;
    width: 290px;
    height: 1515px;
    float:left;
    position: absolute;
    left: 0px;
}
.adresse{
    margin-top: 100px;
    margin-left: 15px;
}
.profil{
    width: 700px;
    height: 100px;
    margin-left: 400px;
    margin-top: 50px;
    font-size: 18px;
}
.texte1{
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
.donnee{
    margin-left: 15px;
}
.permis{
    margin-bottom: 100px;
    margin-left: 15px;
}
.trait{
    border-top: 2px solid black;
}


.competence{
    margin-left: 15px;
    margin-bottom: 100px;
    margin-top: 25px;

}
.soutitre1{
    margin-left: 5px;
}

.soutitre2{
    margin-left: 5px;
}
.img2{
    width: 25px;
    height: 25px;
}
.form{
    float: left;
    width: 700px;
}
.for2{
    color: #537FC1;
}
.white{
    background-color: white;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}
.comp{
    float: right; 
    margin-top: 0px;

}

.logo{
    margin: 15px;
}